<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="false">
    <serverUrls>
    <serverUrl url="http://services.arcgisonline.com"
                   matchAll="true"/>
    </serverUrls>

    <serverUrls>
        <serverUrl url="http://geoenrich.arcgis.com"
                   matchAll="true"/>
    </serverUrls>
  <serverUrls>
    <serverUrl url="http://route.arcgis.com"
               matchAll="true"/>
  </serverUrls>
  
</ProxyConfig>
