.icon{
    display:inline-block;
    width:20px;
    height:20px;
    background:transparent url(sprite.png) no-repeat 0 0;
    text-indent:-9999px;
    overflow:hidden;
    margin: 7px;
}
.icon.zoomin{
    background-position:-40px 0;
}
.icon.zoomout{
    background-position:-60px 0;
}
.icon.geolocate{
    background-position:-80px 0;
}
.icon.layer{
    background-position:-100px 0;
}
.icon.legend{
    background-position:-120px 0;
}
.icon.share{
    background-position:-140px 0;
}
.icon.clipboard{
    background-position:-160px 0;
}
.icon.link{
    background-position:-180px 0;
}
.icon.close{
    background-position:-200px 0;
}
.icon.close:hover{
    cursor: pointer;
    background-position:-200px -20px;
}