html,body,ul,ol,li,form,fieldset,legend,h1,h2,h3,h4,h5,h6,p,input {
    border:0;
    margin:0;
    padding:0;
    background: #ddd;
    font:12px/20px "Microsoft YaHei";
    text-align: left;
}
.info-box{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height:120px;
    display: none;
    width: 100%;
    background: #f2f2f2;
    border-top:solid rgba(0,0,0,0.6) 1px;
}
.info-box-content{
    padding: 5px 8px;
}
.info-box-close{
    position: absolute;
    top: 0px;
    right: 0px;
}
.map-control{
    margin-top: 8px;
    position:absolute;
    top: 20px;
    right: 30px;
    border-radius:4px;
}
.control-box{
    margin-top: 10px;
}
.control-button{
    display:block;
    height:35px;
    width:35px;
    background-color:rgba(0,0,0,0.6);
    outline:none;
}
.control-button:hover {
    background-color:#000;
}
.control-button.disabled {
    background-color:rgba(0,0,0,0.5);
    cursor:default;
}
.control-button.active {
    background-color:#9ed485;
}
.control-button.single{
    border-radius:4px;
}
.control-button.top{
    border-radius:4px 4px 0 0;
}
.control-button.center{
    border-radius:0;
}
.control-button.bottom{
    border-radius:0 0 4px 4px;
}
.entry{
    position: absolute;
    margin-left: 20px;
    margin-top:20px;
    width:30px;
    background:rgb(88,88,88);;
    padding:4px 6px;
    /*设置圆角*/
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    color: #ffffff;
    text-align: center;
}
/*左三角*/
.entry-trangle-left{
    position:absolute;
    bottom:15px;
    left:-10px;
    width:0;
    height:0;
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
    border-right:8px solid rgb(88,88,88);
}
/*右三角*/
.entry-trangle-right{
    position:absolute;
    top:6px;
    right:-5px;
    width:0;
    height:0;
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
    border-left:8px solid rgb(88,88,88);
}
/*上三角*/
.entry-trangle-top{
    position:absolute;
    top:-10px;
    left:20px;
    width:0;
    height:0;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-bottom:8px solid rgb(88,88,88);
}
/*下三角*/
.entry-trangle-bottom{
    position:absolute;
    bottom:-10px;
    left:20px;
    width:0;
    height:0;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-top:8px solid rgb(88,88,88);
}